
<div class="form-container">
    <h2 class="form-heading">Create new note</h2>
    <form class="form-section" [formGroup]="noteForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label for="title"  >Title:</label>
            <input type="text" id="title" formControlName="title" required name="title" placeholder="enter title">
            
        </div>
        <div class="field">
            <label for="content">Content:</label>
            <textarea type="text" name="content" id="content" formControlName="content" required ></textarea>
        </div>
        <button type="submit">
            {{isEdit ? 'Edit' : 'Add Note' }}
        </button>
    </form>
</div>